<h1>List of Users</h1>
<hr>

<ul class="nav nav-tabs">
  <li role="presentation" <% if @sort_by == 'id' %> class="active" <% end %>>
    <a href="<%= admin_users_path %>">Sort by ID</a>
  </li>

  <li role="presentation" <% if @sort_by == 'score' %> class="active" <% end %>>
    <a href="<%= admin_leaderboard_path %>">Sort by Score</a>
  </li>
</ul>

<br>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>College</th>
      <th>Score</th>
      <th colspan="2" width="20%">Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.college %></td>
        <td><%= user.score %></td>
        <td>
          <%= link_to [:admin, user] do %>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> View
          <% end %>
        </td>
        <td>
          <%= link_to edit_admin_user_path(user) do %>
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
